﻿@model MyPublicLibrary.Web.Models.Author

<h2>AuthorsEdit</h2>

@using (Html.BeginForm("Edit", "Authors"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.AuthorId)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Birthdate)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Birthdate)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Email)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Email)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Phone)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Phone)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Birthplace)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Birthplace)</div>


    <input type="submit" value="SEND" />
}