﻿@model MyPublicLibrary.Web.Models.Author

@{ 
    ViewData["Title"] = "AuthorsDetails";
}

<h2>Datasheet of one car</h2>

@Html.ActionLink("Back to the list", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.AuthorId)</td>
        <td>@Html.DisplayFor(m => m.AuthorId)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Birthdate)</td>
        <td>@Html.DisplayFor(m => m.Birthdate)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Email)</td>
        <td>@Html.DisplayFor(m => m.Email)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Phone)</td>
        <td>@Html.DisplayFor(m => m.Phone)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Birthplace)</td>
        <td>@Html.DisplayFor(m => m.Birthplace)</td>
    </tr>
</table>