﻿@model MyPublicLibrary.Web.Models.AuthorViewModel

@{
    ViewData["Title"] = "Crud Index";
}

<h2>Authors Index</h2>

<p style="color:red">
    @TempData["editResult"]
</p>

@await Html.PartialAsync("AuthorsEdit", Model.EditedAuthor)

@await Html.PartialAsync("AuthorsList", Model.ListOfAuthors)