﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2><a href="http://localhost:50199/Authors">Go to localhost:50199/Authors</a></h2>

<h2>API test X</h2>


<p id="message" style="color:red;font-weight:bold"></p>
<ul id="authors"></ul>
Author ID:
<input type="text" id="authorId" />
<br />
<button onclick="doList()">LIST</button>
<button onclick="doListNEW()">LIST NEW</button>

@section scripts {
    <script language="javascript">
        var url = "http://localhost:50199/AuthorsApi/";

        // XSS = Cross Site Scripting
        function htmlEncode(value) {
            return $('<div />').text(value).html();
        }

        function doList() {
            $.get(url + "all", null, function (data, status, jqxr) {
                alert("ALL: " + data);
            }, "html");
        }

        function doListNEW() {
            $("#authors").html("");
            $.getJSON(url + "all")
                .done(function (data) {
                    $.each(data, function (key, item) {
                        var html = "<li>#" +
                            htmlEncode(item.authorId) + " " +
                            htmlEncode(item.name) + " " +
                            htmlEncode(item.birthdate) + "  " +
                            htmlEncode(item.email) + "  " +
                            htmlEncode(item.phone) + "  " +
                            htmlEncode(item.birthplace) + " ";
                        $("#authors").append(html);
                    });
                });
        }
    </script>
}